<div class="page-container">
  <h1 class="page-title">Edit Recipe</h1>
  <%= render "form", recipe: @recipe %>

  <div class="button-row">
    <%= link_to "Back", recipe_path(@recipe), class: "btn-link" %>
  </div>
</div>
