<div class="page-container user-form-page">
  <h1 class="page-title">Edit Your Profile</h1>

  <%= render 'form' %>

  <div class="button-row">
    <%= link_to 'Back to Dashboard', dashboard_path, class: "btn-link" %>
  </div>
</div>
