<div class="page-container">
  <h1 class="page-title">Edit Your Account</h1>

  <%= render 'form' %>

  <div class="button-row">
    <%= link_to 'Back to Users', users_path, class: "btn-link" %>
  </div>
</div>
