<div class="page-container">
  <h1 class="page-title">New Ingredient</h1>

  <%= render "form", ingredient: @ingredient %>

  <div class="button-row">
    <%= link_to "Back to Ingredients", ingredients_path, class: "btn-link" %>
  </div>
</div>
