<h1>Reviews</h1>
<ul>
  <% @reviews.each do |review| %>
    <li>
      <%= link_to "Review for #{review.recipe.title}", recipe_review_path(review.recipe, review) %>
      - <%= review.rating %> stars
      - <%= review.content %>
    </li>
  <% end %>
</ul>
